.service-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .service-actions button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
  }
  
  .service-edit-btn {
    background-color: #1976d2;
  }
  
  .service-delete-btn {
    background-color: #e53935;
  }
  
  .service-review-btn {
    background-color: #43a047;
  }
  
  .service-button-container {
    text-align: end;
    margin: 20px;
  }
  
  .service-add-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
  }
  
  .service-add-button i {
    font-size: 20px;
  }
  
  .service-add-button:hover {
    background-color: #45a049;
  }
  